@page "{id:min(1)}"
@model CharacterSite.Pages.Characters.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="Character.Id" />
    <div class="form-group row">
        <label asp-for="Character.CharacterName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Character.CharacterName" class="form-control" placeholder="Name" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Character.Alignment" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Character.Alignment" class="form-control" placeholder="Alignment" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Character.Race" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Character.Race" class="form-control" placeholder="Race" />
        </div>
    </div>
    <!--
        make a multi staged form that adds in steps to update the character
    -->
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary">Next</button>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-page="/Characters/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>